h1 {
color: orange;
text-align: center;
font-size: 300%;
}

p {
	
	
	font-size: 150%;
	margin-left:15%; 
    margin-right:15%;
}

table {
	
	
	border-collapse: collapse;
	margin-left:15%; 
    margin-right:15%;
	width: 70%;
	height: 100%;

	
}

th{
	text-align:center;
	width:10%;
	
	background-color: #FFA500;
	color: white;
	
	
}

td{
	text-align:center;
	width:10px;
	
}

