
img{
    max-width: 100%;
    height: auto;
}

.image{
    padding: 2px;
}

#busbrief{
    color: #e57908;
    font-family: cardenio, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: auto;
}

.relative{
    position: relative;
    width: 50%;
    float: left;
}

#busDescription{
    position: absolute;
    top: 20px;
    left: 5px;
}

#busIcon{
    width: 50%;
    float: left;
}

#busIcon img{
    max-height: 3em;
}

#busSummary p{
    padding: 0.2em;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    #brief{
        height: auto;
    }
    #busIcon{
        text-align: right;
    }
    .image{
        text-align: center;
    }
    .image img{
        max-width: 32%;
        margin: 0 0.5%;
        float: left;
    }
}