.busPortal{
    color: #2699fb;
    background-color: #f1f8fe;
    text-align: center;
    vertical-align:bottom;
}

div.busPortal{
    border: .3em solid white;
    padding: 5px;
}

.busText{
    color: #ffffff;
    border: .3em solid white;
    padding: 5px;
    background-color: #7fc4fd;
}

.busDescription {
    padding-top: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 30%;
}

.busLink{
    height: 20em;
    position: relative;
}

.busImage{
    float: top;
    width: 100%;
    height: 70%;
    /*background: darkcyan;*/
}

.Orangedescription{height: 33.4em;}

@media only screen and (max-width: 768px) {
    .busLink{
        height: 10em;
    }

    .busImage{
        float: left;
        width: 30%;
        height: 100%;
        /*background: darkcyan;*/
    }

    .busDescription {
        position: static;
        bottom: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        width: 70%;
        height: 100%;
    }

    .Orangedescription{height: 14em;}


}