.busPortal{
    color: #2699fb;
    background-color: #f1f8fe;
    text-align: center;
    vertical-align:bottom;
}

div.busPortal{
    border: .3em solid white;
    padding: 5px;
}

.busText{
    color: #2698fb;
    border: .3em solid white;
    padding: 5px;
    background-color: #bce0ff;
}

.busDescription {
    padding-top: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 30%;
}

.busLink{
    height: 20em;
    position: relative;
}

.ImageContainer{
    float: top;
    width: 100%;
    height: 70%;
}
.busImage{
    height: 100%;
}
.cols-container {
    display: flex;
    width: 100%;
  }
  .cols {
    flex: 1;
    padding: 16px;
  }

.Orangedescription{height: 33.4em;}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container > div {
    margin: 0px;
}

.flex-center {
        display: flex;
        align-items: center;
        
}
.flex-center.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .busLink{
        height: 10em;
    }

    .ImageContainer{
        float: left;
        width: 30%;
        height: auto;
    }
    .busImage{
        height: 100%;
    }

    .busDescription {
        position: static;
        bottom: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        width: 70%;
        height: 100%;
    }

    .Orangedescription{height: 14em;}

    .flex-container {
        display: table;
        align-items: stretch;
    }


}