
/* colors for website
light orange - #f39200
mid orange - #e57908
dark orange - #e94e1b
*/


/*Mobile*/
@media only screen and (max-width: 768px) {
    
    .footerRight{
        width:100%;
    }

    .footerLeft{
        display:none;
    }
    .footericon{
      width:20%;
    }
    .footertext{
      text-align: right;
      width:80%;
      padding-left:0;
    }
  }

.footernav li{
  margin-right:-3px;
  text-align: center;
  width:25%;
  display:inline-block; 
  border-right:2px solid#ffffff;
}

/*footer links*/
.footernav a{
  color:#ffffff;
}
.footernav a:hover {
  color:#e94e1b;
}

.footernav li:first-child{
 border-left:2px solid #ffffff;
 }

.footerLeft ,.footerRight{
  height:5em;
  padding:1em;
}

.iconsize{
  margin:5px;
  height:30px;
  width:30px;
}
/*vertical centers all content to same hight*/
.vpad{
  margin-top:0.7em;
}
.footercolor{
  background-color:#f39200;
  color:#ffffff;
}
/*grass above the footer*/
  .footerimg
  {
    background-image: url("../images/grass-border.png");
    background-position: 0  20px;
    background-size: contain;
    background-repeat: repeat-x;
    width:100%;
    min-width:300px;
    height: 3em;
  }

  .footersize{
    
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:8em;
    z-index: 1000;
}

.maxsize{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  
}

.footerspace{
  margin-bottom:7em;
}

