
/* colors for website
light orange - #f39200
mid orange - #e57908
dark orange - #e94e1b
*/


/*Mobile*/
@media only screen and (max-width: 768px) {
    
    .topbar,.empty,.footerRight{
        width:50%;
    }

    .footerLeft{
        width:25%;
    }
    
}

.topbar{
    text-align: center;
    padding-top:5px;
  }

.footerLeft *{

    display:block; 
    text-align: center;
    color:#ffffff;
    height:1.2em;
}

.footerLeft{

    height:8em;
    padding:10px;
}

.iconscontaner{

    position: relative;
    display:block;
    height:8em;
     
}

.iconsize{
  margin:5px;
  height:30px;
  width:30px;
}

.social{

    position: absolute;
    display:inline-block;
    padding:1%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
     }

  .undersocial{

    position: relative;
    text-align: center;
    padding-right: 1em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .footercolor{

    background-color:#f39200;
    color:#ffffff;

  }

  .footerimg
  {
    background-image: url("../images/grass-border.png");
    background-position: 0  20px;
    background-size: contain;
    background-repeat: repeat-x;
    width:100%;
    min-width:300px;
    height: 3em;
    

  }

  .footersize{
    
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:8em;
    z-index: 1000;
}

.maxsize{

    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    padding-top:.5%;
}

.footerspace{
    
    margin-bottom:6em;
    }


  




