/*Large Screens*/
@media only screen and (min-width: 1000px) {
	.nav{
		width:1000px;
	}
}
/*Mobile*/
@media only screen and (max-width: 768px) {
	.searchbar {
        width:60%;
    }

    .mobilenav {
        width:10%;
    }

    .icon{
		width:30%;
		padding-left:2em;
    }

    .navbar{
        display:none;
    }
}

/*--Nav(Header)--*/
.nav {
	position:fixed;
	top:0;
	background-color:#2699fb;
	height:5em;
}
.nav ul {
    list-style-type: none;
    text-align:center;
}
.nav li{
    display: inline-block;
}
.nav a:visted{
	text-decoration:none ;
}

/*--Icon--*/
.icon {
	height:5em;
	padding-top:1.6em;
	padding-left:0.8em;
	text-align:center;
	overflow:visible;
	white-space: nowrap;
}
.icon a{
	font-size:1.4em;
	letter-spacing:-0.04em;
	width:6em;
	color:#707070;
	text-decoration:none;
	text-transform:uppercase;
}

/*--Nav Bar--*/
.navbar {
	height:5em;
	padding-top:2em;
	text-align:center;
}
.navbar a {
	font-size:.9em;
	padding-right:2vw;
	padding-left:2vw;
	text-decoration:none;
	color:#707070;
	text-transform:uppercase;
}

/*--Search Bar--*/
.searchbar {
	overflow:visible;
	white-space: nowrap;
	height:5em;
	padding-top:1.1em;
}
.searchbox {
	float:right;
}
input[type=search] {
	width:3em;
    box-sizing: border-box;
    border:none;
	font-size: 16px;
	color:white;
    background-color: #2699fb;
	background-image: url('../images/searchicon.png');
	background-size: 1.5em 1.5em;
	background-position: 10px 10px;
	padding: 12px 20px 12px 40px;
	background-repeat: no-repeat;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=search]:focus {
	width:12em;
	position:relative;
}

/*--Mobile Nav--*/
.mobilenav {
	height:5em;
	padding-top:1.5em;
	text-align:center;
}
a.dropbtn {
	font-size:2em;
	color:white;
	text-align:center;
}
.dropdown {
	float:none;
}
.dropdown-content a {
    display: block;
    background-color:red;
    text-align: left;
}
.dropdown-content {
    display:none;
    position:absolute;
}
.dropdown:active .dropdown-content {
    display:block;
}
.dropdown:focus .dropdown-content {
    display:block;
}

