.nav {
	position:sticky;
	background-color:#2699fb;
	height:4em;
}

.icon {
	height:4em;
	padding-top:1.3em;
	text-align:center;
	border:solid 1px black;
}

.navbar {
	border:solid 1px black;
	height:4em;
	padding-top:1.3em;
	text-align:center;
}

.searchbar {
	overflow:visible;
	white-space: nowrap;
	height:4em;
	padding-top:.3em;
	border:solid 1px black;
}

.mobilenav {
	text-align:right;
	height:4em;
	padding-top:.9em;
	border:solid 1px black;
}

nav.ul {
    list-style-type: none;
    text-align:center;
}

.nav li{
    display: inline-block;
	text-align:center;
	border: solid 1px black;
	padding-left:0.5em;
	padding-right:0.5em;
	width:8em;
}

.nav a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
}

.nav a:visted{
	text-decoration:none ;
}


.icon a{
	width:6em;
	border: solid 1px black;
}

a.dropbtn {
	font-size:2em;
	color:white;
	text-align:center;
	margin-right:.6em;
	width:1.5em;
	border: solid 1px black;
}

.dropdown {
	float:right;
}

.dropdown-content a {
    display: block;
    background-color:red;
    text-align: left;
}

.dropdown-content {
    display:none;
    position:absolute;
}

.dropdown:active .dropdown-content {
    display:block;
}

.dropdown:focus .dropdown-content {
    display:block;
}

input[type=search]{
	width:3em;
    box-sizing: border-box;
    border:none;
	font-size: 16px;
	color:white;
    background-color: #2699fb;
	background-image: url('../images/searchicon.png');
	background-size: 1.5em 1.5em;
	background-position: 10px 10px;
	padding: 12px 20px 12px 40px;
	background-repeat: no-repeat;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}

input[type=search]:focus {
	width:12em;
	position:relative;
}

.searchButton


