.navbar {
    background-color:grey;
    position:sticky;
    height:60px;
    padding:20px;
}

.search {
    background-color:grey;
    position:sticky;
    height:60px;
    padding:20px;
}

ul {
    list-style-type: none;
    background-color: grey;
    text-align:center;
}

li {
    display: inline-block;
    background-color:white;
    margin:0 2%;
}

.dropdown {
    float:right;
}

.dropdown-content a {
    display: block;
    background-color:red;
    text-align: left;
}

.dropdown-content {
    display:none;
    position:absolute;
}

.dropdown:hover .dropdown-content {
    display:block;
}

input[type=search]{
    width: 20px;
    box-sizing: border-box;
    border:none;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: scale(x) 0.4s ease-in-out;
    
}

input[type=search]:focus {
    width:120px;
}

