@media only screen and (max-width: 768px) {
    #image1{
        padding-right: 0;
        height: auto;
        max-height: 90vh;
        width: 100%;
        max-width: 100%;
    }
    .imageContainer{
        text-align: center;
    }
}

.light-orange{
    background-color: #f39200;
    border: .3em solid white;
}

.asdf{
    padding: 5px;
}

.imageContainer{
    padding: 2px;
}

.image{
    max-width: 100%;
    height: auto;
}

.busLink{
    float: left;
    width:33.3%;
    height:250px;
    border: white solid 2px;
    text-decoration: none;
    color: black;
}

.busLinkHeader{
    width:100%;
    height:20%;
    background-color: #e57908;
    opacity: 0.8;
}

.busLinkHeader h3{
    font-size: 8pt;
    padding-left: 10px;
    padding-top: 5px;
}

.busLinkHeader p{
    font-size: 6pt;
    padding-left: 10px;
    padding-top: 5px;
}

.busLinkBody{
    position: relative;
    width:100%;
    height:80%;
    background-color: #f39200;
    opacity: 0.5;
}

#image1{
    padding-right: 2px;
    height: 400px;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}

.imgConatiner{
    position: relative;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }