/*Mobile*/
@media only screen and (max-width: 768px) {
    .info-box{
        width: 100%;
    }
    .med-wide{
        width: 50%;
    }
    .hero-med{
        width: 100%;
    }
    .med{
        width: 33.3%;
    }
}

.info-box-container{
    height: fit-content;
    border: white solid 2px;
}

.info-box{
    border: 1px solid white;
    background-color: #f1f8fe;
}

/*Hero Box*/
.hero-med{
    height: 250px;
}

/*Large Box*/
.lrg{
    height: 300px;
}

/*Medium Box*/
.med{
    height: 250px;
}

/*Medium Box*/
.med-wide{
    height: 250px;
}

/*Small Box*/
.sml{
    height: 200px;
}

/*Extra Small Box*/
.xsml{
    height: 100px;
}

.med-info-box-head{
    height: 50px;
    background-color: #7fc4fd;
    opacity: 0.5;
    border-bottom: 1px solid #c8cecd;
    
}

.h3-med-sml-info{
    font-size: 8pt;
    padding-left: 10px;
    padding-top: 5px;
}

.p-med-sml-info{
    font-size: 6pt;
    padding-left: 10px;
    padding-top: 5px; 
}

.h3-med-wide-info{
    padding-left: 30px;
    padding-top: 25px;

}

.p-med-wide-info{
    font-size: 6pt;
    padding-left: 30px;
    padding-top: 5px; 
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-info{
    padding: 50px;
}

.bor-spacing{
    border: 2.5px solid white;
}

.color-d-blue{
    color: #2699fb;
}

.color-m-blue{
    color: #7fc4fd;
}

.color-l-blue{
    color: #f1f8fe;
}

.color-white{
    color: #ffffff;
}

.color-grey{
    color: #707070;
}

.backgroud-d-blue{
    background-color: #2699fb;
}

.background-m-blue{
    background-color: #7fc4fd;
}

.background-l-blue{
    background-color: #f1f8fe;
}

.background-white{
    background-color: #fcfcfc;
}

.background-grey{
    background-color: #707070;
}