* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float:left;
}

/*Large Screens*/
@media only screen and (min-width: 1000px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*Desktop*/
@media only screen and (max-width: 1000px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width:100%;
        float:left;
    }
}

.webpage {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.empty {
    padding:0.1em;
    visibility:hidden;
}

.content {
    margin-top:1em;
}

.wrapper {
    border:solid 2px white;
}

@font-face { /* Created by Nils Cordes http://nilscordes.com */
    font-family: cardenio;
    src: url('cardenio-modern-std.ttf');
}

@font-face { /* Created by Nils Cordes http://nilscordes.com */
    font-family: cardenio;
    src: url('cardenio-modern-bold.ttf');
    font-weight: bold;
}

h1 {
    font-family: cardenio, sans-serif;
    font-weight: bold; 
}

h2 {
    font-family: cardenio, sans-serif;
    font-weight: bold; 
}

h3 {
    font-family: cardenio, sans-serif;
    font-weight: bold; 
}

a {
    font-family: myriad-pro, sans-serif;
    font-weight: regular; 
    text-decoration: none;
}

p {
    color:#333333;
}

body {
    font-family: myriad-pro, sans-serif;
    font-weight: regular; 
}

.conNone {
    padding: 5px;
    color: #2698fb;
    background-color: #ffffff;
    border: .3em solid white;
}

.conLight{
    padding: 5px;
    border: .3em solid white;
}

.conMod{
    padding: 5px;
    border: .3em solid white;
} 

.conDark{
    padding: 5px;
    color: #ffffff;
    border: .3em solid white;
}