* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float:left;
    border:solid black 1px;
}

/*Desktop*/
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .webpage{
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
    }
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .pagecontent{
        width:100%;
    }

    .sides{
        display:none;
    }

    .search {
        width:100%;
    }
    
    .navbar{
        display:none;
    }
    
}

@font-face { /* Created by Nils Cordes http://nilscordes.com */
    font-family: cardenio;
    src: url('cardenio-modern-std.ttf');
}

@font-face { /* Created by Nils Cordes http://nilscordes.com */
    font-family: cardenio;
    src: url('cardenio-modern-bold.ttf');
    font-weight: bold;
}

h1 {
    font-family: cardenio,sans-serif;
    font-weight: bold; 
    font-size: 30pt;
}

a {
    font-family: cardenio, sans-serif;
    font-size: 16pt;
}
