.content-heading {
    padding:10px;
    padding-left:5%;
    padding-right:5%;
    margin-bottom:10px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.line{
    display: inline-block;
    content: "";
    height: 3px;
    background:#e94e1b;
    width:100%;
    margin-bottom:10px;
    
}

.image{
    max-width: 100%;
    height: auto;
}

.imageContainer{
    padding: 2px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}


/*------Event Information Page------*/
.info-hero {
    background-color: #ffa927;
    height:auto;
    padding:30px;
    padding-left:5%;
    border:solid 2px white;
}

.info-container {
    background-color:white;
    padding:10px;
    height:auto;
    border:solid 2px white;
}

.link-container {
    color:white;
    background-color:#e94e1b;
    padding:10px;
    padding-top:70px;
    height:250px;
    border:solid 2px white;
    text-align:center;
}
.link-container a:visited {
    text-decoration:none;
    color:white;
}

.map {
    background-color: #f1f8fe;
    height:400px;
    border:solid 2px white;
}

/*------Sponsors Page------*/

.sponsor-container, .minor-sponsor-container {
    background-color: white;
    text-align:center;
}

.sponsor-img {
    background-color: white;
    margin-bottom:20px;
    padding:0px 10px;
}

.sponsor-img img { /*border is removed once image is in place*/
    max-width:100%;
    height:auto;
    background-color:#f1f8fe;
    border:none;
    vertical-align: middle;
}

/*------ Home Page ------*/
.busLink{
    float: left;
    width:33.3%;
    height:250px;
    border: white solid 2px;
    text-decoration: none;
    color: black;
}

.busLinkHeader{
    width:100%;
    height:20%;
    background-color: #e57908;
    opacity: 0.8;
}

.busLinkHeader h3{
    font-size: 8pt;
    padding-left: 10px;
    padding-top: 5px;
}

.busLinkHeader p{
    font-size: 6pt;
    padding-left: 10px;
    padding-top: 5px;
}

.busLinkBody{
    position: relative;
    width:100%;
    height:80%;
    background-color: #f39200;
    opacity: 0.5;
}

#HomePageImage{
    padding-right: 2px;
    height: 400px;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}

#OrangeWolvesEvent{
    height: 50vh;
}

/*------ Bus Pages ------*/
.bus-relative{
    position: relative;
    width: 50%;
    float: left;
}

#busbrief{
    color: #e57908;
    font-family: cardenio, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: auto;
}

#busDescription{
    position: absolute;
    top: 20px;
    left: 5px;
}

#busIcon{
    width: 35%;
    float: left;
    margin-left: 15%;
    min-height: 2em;
    transform: rotatey(180deg);
}

#busIcon img{
    max-height: 3em;
}

/*------ Bus Portal ------*/
div.busPortal{
    border: .3em solid white;
    padding: 5px;
}

.busText{
    
    font-size: 15px;
    color: #fb9f26;
    border: .3em solid white;
    padding: 5px;
    background-color: #bce0ff;
}

.busTitle {
    padding-top: 1px;
    text-align: center;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 30%;
}

.busPortalLink{
    height: 20em;
    position: relative;
    text-align: center;
}

.busPortalLink:hover .overlay{
    transition: .2s linear;
    opacity: 1;
    }

.busPortalLink:hover .link{
    border-bottom: 8px solid red;
    border-radius: 2px;               
}
        
    
.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow:hidden;
}
    
@keyframes partical{
    0%{opacity: 0; }
    100%{opacity: 1; transform: translate(5px ,-5px);}
}

.link{
    color: red;
    text-align: center;
    font-size:30px;
}

.effect1{
    position: relative;
    width:10px;
    height:10px;
    opacity: 1;
    background-color: #f39200;
    border-radius: 50%;
    border:1px solid black;
    animation: partical 1s alternate  infinite;
}

.s1{
    left:50%;
    top:10%;
    width:20px;
    height:20px;
}

.s2{
    left:70%;
    top:10%;
    width:15px;
    height:15px;
}

.s3{
    left:60%;
    top:20%;
}

.s4{
    left:40%;
    top:20%;
}

.BusPortalContainer{
    border-top: white; 
    width: 100%;
    height: 70%;
}
.busImage{
    height: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

/*Large Screens*/
@media only screen and (min-width: 1000px) {
    .sponsor-container, .minor-sponsor-container{
    padding:0px 50px;
    }
}

/*Desktop*/
@media only screen and (max-width: 1000px) {
    .sponsor-container, .minor-sponsor-container{
    padding:0px 50px;
    }
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    .sponsor-img {
        width:45%;
        margin:0 2.5%;
    }

    .sponsor-container {
        padding:0vw 10vw;
    
    }
    .minor-sponsor-container {
        padding:0vw 3vw;
    
    }
    .minor-sponsor-container .sponsor-img{
        width:30%;
        margin:1.6%;
    }

    .image-container{
        text-align: center;
        height: auto;
    }

    #image{
        max-width: 100%;
        height: auto;
    }

    .imageContainer img{
        max-width: 32%;
        margin: 0 0.5%;
        float: left;
    }

    .busPortalLink{
        height: 13em;
        width : 50%
    }
    
    .busImage{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .busPortalLink{
        height: 13em;
        width : 100%
    }
    
    .busImage{
        height: 100%;
        width: 100%;
    }
}