/*Large Screens*/
@media only screen and (min-width: 1000px) {
	.sponsor-container {
		padding:0vw 5vw;
	}
	.bus-portal {
		padding:0% 2%;
	}
	.bus-link{
		height:150px;
	}
}

/*Desktop*/
@media only screen and (max-width: 1000px) {
	.sponsor-container {
		padding:0vw 5vw;
	}
	.bus-portal {
		padding:0% 2%;
	}
	.bus-link{
		height:150px;
	}
}

/*Mobile*/
@media only screen and (max-width: 768px) {
	.sponsor-img {
			width:50%;
	}
	.sponsor-container {
		padding:0vw 10vw;
	}
	.bus-link{
		width:33.3%;
		height:270px;
	}
	.bus-portal {
		padding:5% 10%;
		width:50%;
	}
	
	.dropdown-content {
		width:100%;
	}




	.image-container{
			text-align: center;
			height: auto;
	}
	#image{
			max-width: 100%;
			height: auto;
	}
	.imageContainer img{
			max-width: 32%;
			margin: 0 0.5%;
			float: left;
	}
	.storypage{
			height:auto;
	}

}

@media only screen and (max-width: 400px) {
	.busPortalLink{
			height: 13em;
			width : 100%
	}
	
	.busImage{
			height: 100%;
			width: 100%;
	}
}

.content-heading {
    padding:10px;
    padding-left:5%;
    padding-right:5%;
    margin-bottom:10px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.image{
    max-width: 100%;
    height: auto;
}

.imageContainer{/*not needed?*/
    padding: 2px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}




.map {
    background-color: #f1f8fe;
    height:400px;
    border:solid 2px white;
}


/*------ Bus Pages ------*/
.bus-relative{
    position: relative;
    width: 50%;
    float: left;
}

#busbrief{
    color: #e57908;
    font-family: cardenio, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: auto;
    text-align: center;
}


#busIcon{
    transform: rotatey(180deg);
    width:50%; 
    margin: auto;
}

/*------Page Elements------*/
.info-hero{
	background-color:white;
	height:auto;
	padding:3% 3% 3% 3%;
	border-bottom: solid 30px #f39200;
}
.info-hero h1, .info-hero h2{
	color:#e94e1b;
}
.info-hero p, .info-hero h1, .info-hero h2{
	padding:0% 15px;
}
.line{
	height: 3px;
	background:#e94e1b;
	width:100%;
	margin-top:10px;
}
.link-container {
	color:white;
	background-color:#e94e1b;
	padding:10px;
	padding-top:70px;
	height:250px;
	border:solid 2px white;
	text-align:center;
}
.link-container a:visited {
	text-decoration:none;
	color:white;
}
.link-container a:hover {
	text-decoration:none;
	color:#f39200;
}
.link-container *{
	color:white;
}
.media-container{
	background-color: black;
	height:404px;
	border:solid 2px white;
}

/*------ Home Page ------*/
.homepage-media{
	height: 400px;
	max-height: 400px;
	width: auto;
	max-width: 100%;
	border-top:solid 2px white;
}
.bus-link{
	height:225px;
	border:1px solid black;
}
.bus-link:hover{
	transform:scale(1.1, 1.1);
	z-index:1000;
	}
.buslink-header{
	background-color: #e94e1b;
	color:white;
	height:55px;
	text-align:center;
	position:relative;
}
.buslink-header h3{
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	
}
.buslink-body{
	height:170px;
	padding-top:10px;
	background-color: white;
}

.va{
	padding-top:20px;
}

/*------Sponsors Page------*/

.sponsor-container{
	background-color: white;
	text-align:center;
	width:100%;
}
.sponsor-img {
	background-color: white;
	max-width:100%;
	height:auto;
	margin-bottom:20px;
	padding:0px 10px;
	height: 200px;
  position: relative;
}
.sponsor-img img { /*border is removed once image is in place*/
	border:none;
	max-width:100%;
	max-height:100%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------Our Story Page------*/

.info-container {
    background-color:white;
    padding:10px 8.3%;
    height:auto;
    border:solid 2px white;
	
}

.indent{
    padding-left: 40px;
}

.storypage{
    
height:35em}


.storypage{
	height:auto;
	padding-top:0;
	background-color:#e94e1b;
	border:solid 2px white;
	padding:0.7em;	
}
.removedots{
	list-style-type: none;
}



.dropbtnn {
  background-color:#e94e1b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
width:100%;
}

/* Dropdown button on hover & focus */
.dropbtnn:hover, .dropbtnn:focus {
  background-color:#e94e1b;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdownn {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownn-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownn-content a {
 font-size:10px;
	font-family:myriad-pro, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:black;
	padding:10px 0px;
	padding-right:60px;
    display:block;
	text-align:left;
	text-decoration:none;
	border-bottom:solid 2px #e94e1b;
}

/* Change color of dropdown links on hover */
.dropdownn-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


label {
	
	 font-size:20px;
	 font-family:myriad-pro, sans-serif;
	font-weight:bold;
	 color:#e94e1b;
	
}




/*------Bus Portal------*/
.busportal-container{
	padding:0% 5%;
	height:300px;
}
.bus-portal{
	text-align: center;
	transition: transform .2s; /* Animation */
	position: relative;
	height:300px;
}
.bus-portal h1{
	color:#e94e1b;
	text-align: center;
}
.bus-portal:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.busportal-image {
	width:100%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.busportal-image img{
	max-height:200px;
}
