

h1 {
color: orange;
text-align: center;
font-size: 300%;
}



.tabletext {
	
	
	font-size: 150%;
	margin-left:15%; 
    margin-right:15%;
}


.test{border: 1px solid blue;}
div{border:1px solid black;}
