

/*
#7fc4fd - Mid blue (divs)
#f1f8fe - Light blue (divs)
#ffffff - White (divs, text)
*/
/*above 768 height wont change unless has two states seems to override it with bottom code*/
@media only screen and (min-width: 768px) {

    .leftbar{
        height:600px;
        
    }
}

/*Mobile*/
@media only screen and (max-width: 768px) {

    .leftbar{
        width:100%;
        height:300px;
        
    }

    .team{width:50%;}
    .teamblock{width:100%;}
       
}      

.teamblock{height:auto;

}

.team{
height:200px;
background-color:#f1f8fe;
border:2px solid white;
    
}
.blank{
height:200px;
background-color:#f1f8fe;
border:2px solid white;
}

.wrapper{
background-color:#f1f8fe;
border:2px solid white;
}

.block{
    height:300px;

}



