<!DOCTYPE html>
<html>
    <head>
    
   
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
<body>

    


    <div class="row footercolor">

            <div class="row">
                <div class="topbar col-3 ">
                    <h5>Page Navagation</h5>
               
            </div>
            <div class="empty col-9">
                   
               
            </div>

        </div>            
        
          
<div class="row">
            <div class="footerLeft col-3">
            
                <ul>
                    <li><a href="/orangewolves/event-info">Event Info</a></li>
                    <li><a href="/orangewolves/schedule">Schedule</a></li>
                    <li><a href="/orangewolves/buses">Buses</a></li>
                    <li><a href="/orangewolves/teams">Teams</a></li>
                    <li><a href="/orangewolves/sponsors">Sponsors</a></li>
                </ul>
            </div>

            <div class="footerLeft col-3">
                    <ul>
                        <li><a href="/orangewolves/contact-us">Contact Us</a></li>
                        <li><a href="/orangewolves/sitemap">Sitemap</a></li>
                        <li><a href="/orangewolves/privacy">Privacy</a></li>
                        <li><a href="/orangewolves/copyright">Copyright</a></li>
                        <li><a href="/orangewolves/disclaimer">Disclaimer</a></li>
                    </ul>
            </div>
            
            <div class="footerRight col-6">

                <div class="iconscontaner">

                        <div class=social> 

                            <a href=" insert web page ">
                                <img class="iconsize" src="/orangewolves/resources/images/instagram.png" alt="instragram"></img></a>
                           
                           <a href=" insert web page ">
                                <img class="iconsize" src="/orangewolves/resources/images/twitter.png" alt="twitter" ></img></a>

                            <a href=" insert web page ">
                                <img class="iconsize" src="/orangewolves/resources/images/facebook.png" alt="facebook" ></img></a>

                        </div>

                        <div class="undersocial"> 

                                <p>©canberra institute of technology</p>
    
                        </div>

                </div> 
                        
                           

                        
                

            
            </div>
        </div>

            <div class="row">
                    <div class="bottombar col-12 ">
                        <br>
                    </div>
            </div>   
        </div>



   

</body>
</html>
