<!DOCTYPE html>
<html>
    <head>
    
    <link rel="stylesheet" type="text/css" href="resources/css/layout.css">
    <link rel="stylesheet" type="text/css" href="resources/css/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
<body>

    


    <div class="row">

            <div class="row">
                <div class="topbar col-3 ">
                    <h5>Page Navagation</h5>
                </div>
                <div class="whitespace col-3">
                     
                </div>
                <div class="topbar col-6">
                    <h5>Page navagation</h1>
                </div>
            </div>            
        
          

            <div class="footerLeft col-3">
            
                <ul>
                    <li><a href="/orangewolves/event-info">Event Info</a></li>
                    <li><a href="/orangewolves/schedule">Schedule</a></li>
                    <li><a href="/orangewolves/buses">Buses</a></li>
                    <li><a href="/orangewolves/teams">Teams</a></li>
                    <li><a href="/orangewolves/sponsors">Sponsors</a></li>
                </ul>
            </div>

            <div class="footerLeft col-3">
                    <ul>
                        <li><a href="/orangewolves/contact-us">Contact Us</a></li>
                        <li><a href="/orangewolves/sitemap">Sitemap</a></li>
                        <li><a href="/orangewolves/privacy">Privacy</a></li>
                        <li><a href="/orangewolves/copyright">Copyright</a></li>
                        <li><a href="/orangewolves/disclaimer">Disclaimer</a></li>
                    </ul>
            </div>
            
            <div class="footerRight col-6">

                <div class="iconscontaner">

                        <li><i class="material-icons">cloud</i></li>
                        <li><i class="material-icons">edit</i></li>
                        <li><i class="material-icons">cloud</i></li>
                </div>    

            
            </div>

            <div class="row">
                    <div class="bottombar col-12 ">
                        <br>
                    </div>
            </div>   



    </div>

       





   

</body>
</html>
