<!DOCTYPE html>
<html>
    <head>

    </head>
<body>

    <div class="row footerspace">
    </div>

    <div class="row footersize">

            <div class="row">

                <div class="footerimg col-12">
                    
                </div>

            </div>

            <div class="row footercolor">

         
          
    <div class="row maxsize">

           
            <div class="footerLeft col-6">
                
                    <ul class="footernav vpad">
                        <li><a href="/orangewolves/contact-us.php">Contact Us</a></li>
                        <li><a href="/orangewolves/sponsors.php">Sponsors</a></li>
                        <li><a href="/orangewolves/privacy.php">Privacy</a></li>
                        <li><a href="/orangewolves/copyright.php">Copyright</a></li>
                    </ul>
            </div>
           
                     
            <div class="footerRight col-6">

                <div class="col-3 footericon">
                    <a href="https://www.instagram.com/orangewolves2019"><img class="iconsize" src="/orangewolves/resources/images/instagram.png" alt="instragram"></img></a>
                </div> 
                <div class="vpad col-9 footertext">
                    <h4>© Canberra Institute of Technology</h4>
                </div> 
                        
            </div>
            
    </div>
    </div>

      
</div>



   

</body>
</html>
