<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://use.typekit.net/gnw2myt.css">
	</head>

  	<body>
		<div class="row">
			<div class="col-12 logo">
				<a href="/orangewolves"><img src="\orangewolves\resources\images\OrangeWolvesLogo.svg" alt="Orange Wolves Logo"></a>
			</div>
		</div>
      	<div class="row">
			<div class="col-12" id="navbar">
				<ul>
					<li><a href="/orangewolves/our-story">Our Story</a></li>
					<li><a href="/orangewolves/buses">Buses</a></li>
					<li><a href="/orangewolves/sponsors">Sponsors</a></li>
					<li><a href="/orangewolves/contact-us">Contact</a></li>
				</ul>
			</div>

			<div class="col-12" id="mobilenav">
				<ul>
					<div class="dropdown">
						<a onclick="dropdown()" class="dropbtn fa fa-bars"></a>
							<div id="dropdown" class="dropdown-content">
								<img src="resources\images\dropdown.svg">
								<a href="/orangewolves/our-story">Our Story</a>
								<a href="/orangewolves/buses">Buses</a>
								<a href="/orangewolves/sponsors">Sponsors</a>
								<a href="/orangewolves/contact-us">Contact</a>
							</div>
					</div>
				</ul>
			</div>	
		</div>
		<script>
		/*Dropdown*/
		function dropdown() {
			document.getElementById("dropdown").classList.toggle("show");
		}
		window.onclick = function(event){
			if (!event.target.matches('.dropbtn')){
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;

				for (i = 0; i <dropdowns.length; i++){
					var openDropdown = dropdowns[i];

					if (openDropdown.classList.contains('show')){
						openDropdown.classList.remove('show');
					}
				}
			}
		}
		/*Sticky Navbar*/
			var navbar = document.getElementById("navbar");
			var mobilenav = document.getElementById("mobilenav");
			var sticky = navbar.offsetTop;
			var stickym = mobilenav.offsetTop;
			function myFunction() {
				if (window.pageYOffset >= sticky && window.pageYOffset >= stickym) {
					navbar.classList.add("sticky")
					mobilenav.classList.add("sticky")
				} else {
					navbar.classList.remove("sticky");
					mobilenav.classList.remove("sticky");
				}
			}
			window.onscroll = function() {myFunction()};
		</script>
  	</body>
</html>
