<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
</head>
        <body>
            <div class="row">

<div class="navbar col-7">
    <ul>
        <li><a href="/orangewolves">Orange Wolves</a></li>
        <li><a href="/orangewolves/schedule">Schedule</a></li>
        <li><a href="/orangewolves/buses">Buses</a></li>
        <li><a href="/orangewolves/teams">Teams</a></li>
        </ul>
</div>

<div class="search col-5">
    <ul>
        <li class="dropdown">
            <a href="" class="dropbtn">Drop</a>
            <div class="dropdown-content">
                <a href="/orangewolves/schedule">Schedule</a>
                <a href="/orangewolves/buses">Buses</a>
                <a href="/orangewolves/teams">Teams</a>
                <a href="/orangewolves/event-info">Event Info</a>
                <a href="/orangewolves/sponsors">Sponsors</a>
                <a href="/orangewolves/contact-us">Contact Us</a>
            </div>
        </li>
    </ul>
    
        <form class="dropdown" name="search" action="/orangewolves/search/index.php" method="GET">
            <input type="search" name="searchtext" placeholder="Search" pattern=".*\S.*" minlength=3 required>
        </form>

</div>
    </div>


        </body>
</html>
