<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no>
	<link rel="icon" href="/resources/images/OrangeWolvesFavIcon.png">
	<link rel="stylesheet" type="text/css" href="/resources/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/pages-v1.1.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/footer.css">

	<!--- for local host testing just remove comment 
	
	<link rel="icon" href="/orangewolves/resources/images/OrangeWolvesFavIcon.png">
	<link rel="stylesheet" type="text/css" href="/orangewolves/resources/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/orangewolves/resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="/orangewolves/resources/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/orangewolves/resources/css/pages-v1.1.css">

	-->

</head>